$phone: 411px;
$tablet: 768px;

// color font

$blue: #3F8CFE;
$greyLight:  #BCBCBC;
$greyLightMedium: #858282;
$greyMedium: #5E5E5E;
$greyDark:  #313030;
$greenActive:  #0FB652;
$redInactive: #F03738;

// color background

$blueDark:  #096CFF;
$blueLight: #EBF3FE;
